body {
    background-color: #FAD9DD;
    color: #4F011A;
    font-size: 20px;
}

h1.title {
    text-transform: uppercase;
    font-weight: normal;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 40px;
}

h2.title-bio {
    font-weight: normal;
    font-size: 35px;
    display: flex;
    flex-direction: rox;
    justify-content: center;
}

